[submodule "jellyfin-plugin-file-transformation"]
	path = jellyfin-plugin-file-transformation
	url = https://github.com/IAmParadox27/jellyfin-plugin-file-transformation
[submodule "jellyfin-plugin-pages"]
	path = jellyfin-plugin-pages
	url = https://github.com/IAmParadox27/jellyfin-plugin-pages
[submodule "jellyfin-plugin-home-sections"]
	path = jellyfin-plugin-home-sections
	url = https://github.com/IAmParadox27/jellyfin-plugin-home-sections
[submodule "jellyfin-plugin-media-bar"]
	path = jellyfin-plugin-media-bar
	url = https://github.com/IAmParadox27/jellyfin-plugin-media-bar
[submodule "jellyfin-plugin-media-bar"]
	path = jellyfin-plugin-collection-sections
	url = https://github.com/IAmParadox27/jellyfin-plugin-collection-sections
[submodule "jellyfin-plugin-custom-tabs"]
	path = jellyfin-plugin-custom-tabs
	url = https://github.com/IAmParadox27/jellyfin-plugin-custom-tabs
